#container{
    width: 80;
    margin: 0 auto;
    text-align: center;
    color:brown
}
#text{
    font-size: 30px;
    border: 10px black solid;
    padding : 10px
}
#zar{
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 30px;
    font-size: 28px;
    color:black;
    text-align: center;
    background-color: brown;
    border-radius: 20px;
    box-shadow: 0 5px ;
    transition-duration: 0.1s;
}
#zar:hover{
    background-color: rgb(48, 2, 4);
    color: white;
}
#zar:active{
   background-color: dimgrey; 
   transform: translateY(8px);
}
li{
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 1px solid black;
}
li:hover{
    background-color: dimgrey;
    transition-duration: 0.2s;
}
.selected{
    background-color:rgb(48, 2, 4);;
    color: white;
}